.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

li{
  background-color: rgb(200,100,0);
}

h1 {
  display: block;
  font-size: 2em;
  font-family: Didot;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  opacity:0.6;
  background-color:black;
  color:white;
  font-size:96px;
}

h3{
  max-width: 70%;
  font-family:times-new-roman;
  opacity: 0.8;
  background-color:rgb(20,20,120);
  color:hsl(55,65%,89%);
  display: block;
  font-size: 1.5em;
  font-family: Didot;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  opacity:0.8;
}
